{
  "database": {
    "host": "localhost",
    "port": 5432,
    "username": "paste",
    "password": "<CHANGEME>",
    "database": "paste"
  },
  "server": {
    "bind": "0.0.0.0",
    "port": 31232
  },
  "announce": {
    "channel": "<channel>",
    "host": "<host>",
    "port": "7272",
    "password": "<pw>"
  }
}
