{
  "debug": true,
  "ftime": "%d %B %Y %H:%M:%S",
  "admin_pw": "changeme",
  "database": "anpaste.sqlite",
  "server": {
    "domain": "paste.geekosphere.org",
    "url": "http://paste.geekosphere.org",
    "bind": "0.0.0.0",
    "port": 31232
  },
  "announce": {
    "channel": "<channel>",
    "udp_proto": "udp4",
    "host": "<host>",
    "port": "7272",
    "password": "<pw>"
  },
  "session": {
    "secret": "um4aeShxainopie_ZooquuHaiNg7ooc4iuch1aish7poh3jei1OoQu0eng%icain",
    "maxAge": 86400000000,
    "defaults": {
      "show_line_numbers": false,
      "show_theme": "Default",
      "option_tabkeys": false,
      "option_language": "plain",
      "option_expire": 0,
      "option_private": false,
      "option_wordids": false,
      "option_announce": false
    }
  },
  "index": {
    "max_lines": 40,
    "per_page": 2
  },
  "api": {
    "max": 10
  },
  "themes": [
    "Default", "Midnight", "Django", "Eclipse", "Emacs", "FadeToGrey", "MDUltra", "RDark", "Zenburn"
  ],
  "expire": {
    "never": 0,
    "half an hour": 1800,
    "one day": 86400,
    "a week": 604800,
    "one month": 2678400
  },
  "tcpsrv": {
    "port": 55555,
    "bind": ["0.0.0.0", "::1"],
    "reply": "This socket is now listening for your paste to be posted.\r\nOnce you close this connection it is made available at http://example.com/"
  },
  "logger": {
    "console": {
      "level": "trace",
      "silent": false,
      "colorize": true,
      "timestamp": true
    },
    "file": {
      "level": "trace",
      "silent": false,
      "timestamp": true,
      "filename": "anpaste.log",
      "maxsize": 524288,
      "json": false
    }
  },
  "akismet": {
    "blog": "http://example.com",
    "apiKey": null
  }
}
