extends layout

block content
  h1 admin login

  if !session.admin
    form#login(method='POST', action='/admin/login')
      label(for='password') password
      input(type='password', name='password', value='')

      input(type='submit', name='login', value='login')
  else
    form#login(method='POST', action='/admin/logout')
      input(type='submit', name='logout', value='logout')
    ul
      li
        a(href='/admin/list') Paste Index



