.border {
  border: 1px solid #e7e7e7;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
}
.hidden {
  display: none;
}
#encrypted-data {
  display: none;
}
body {
  margin: 30px;
}
h1 {
  border-bottom: 1px solid #e7e7e7;
  font-family: monaco, monospace;
  font-size: 18px;
  color: #444;
  margin-bottom: 2px;
}
h1.not_found {
  font-size: 43px;
}
h2 {
  border-bottom: 1px solid #e7e7e7;
  font-size: 12px;
  color: #444;
  margin: 3px;
  font-style: italic;
  font-weight: normal;
}
code {
  font-size: 12px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
}
strong {
  color: #333;
}
body {
  font-family: arial, sans-serif;
}
label,
p {
  letter-spacing: 1px;
  font-size: 11px;
}
header,
footer {
  font-size: 12px;
}
form {
  padding: 5px 5px 5px 1px;
}
form label {
  display: block;
  margin-top: 4px;
}
form input[type="submit"] {
  padding: 3px 8px;
}
form input[type="text"] {
  width: 99%;
  font-family: monaco, monospace;
  font-size: 16px;
  font-weight: bold;
  padding: 3px;
  border: 1px solid #e7e7e7;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
}
form input[type="checkbox"] {
  margin-top: 5px;
  vertical-align: -3px;
}
form textarea {
  width: 99%;
  font-family: monaco;
  font-size: 11px;
  padding: 3px;
  height: 350px;
  border: 1px solid #e7e7e7;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
}
form .options {
  display: block;
  padding-left: 1px;
}
form .options h2 {
  width: 250px;
}
form .options .selects {
  width: 350px;
}
form .options .selects div {
  display: inline-block;
  padding: 0px 0px 6px 6px;
}
form .options label.inline {
  display: inline !important;
}
form .options .left {
  padding-right: 15px;
  display: inline;
  float: left;
}
form .options .submit {
  padding-top: 4px;
  display: block;
  text-align: right;
  float: right;
}
form .options .shift {
  font-size: 10px;
  font-style: italic;
}
a {
  color: #455EA9;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
header {
  border-bottom: 1px solid #e7e7e7;
  margin-bottom: 12px;
}
header .urls {
  line-height: 12px;
}
header .urls a {
  font-family: monospace;
  font-size: 11px;
}
header .time {
  margin-top: 15px;
  font-style: italic;
  letter-spacing: 1px;
  font-size: 11px;
}
.meta {
  font-size: 11px;
  margin-bottom: -11px;
  color: #999;
}
footer {
  border-top: 1px solid #e7e7e7;
  margin-top: 12px;
}
footer .time {
  font-style: italic;
  letter-spacing: 1px;
  font-size: 11px;
}
.notice {
  width: 97%;
  color: #B94A48;
  background-color: #F2DEDE;
  border: 1px solid #EED3D7;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  font-size: 12px;
  margin: 5px 0px 5px 3px;
  padding: 8px;
  display: inline-block;
  white-space: pre;
  font-family: monaco, monospace;
}
