.border {
  border: 1px solid #e7e7e7;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
}
.hidden {
  display: none;
}
#encrypted-data {
  display: none;
}
body {
  margin: 30px;
}
h1 {
  border-bottom: 1px solid #e7e7e7;
  font-family: monaco, terminus, monospace;
  font-size: 21px;
  color: #444;
  margin-bottom: 2px;
}
h1.not_found,
h1.error {
  font-size: 43px;
}
h2 {
  border-bottom: 1px solid #e7e7e7;
  font-size: 12px;
  color: #444;
  margin: 3px;
  font-style: italic;
  font-weight: normal;
}
h1,
h2,
h3 {
  margin-top: 0px;
}
h1 a,
h2 a,
h3 a {
  color: #444;
}
h1 a:hover,
h2 a:hover,
h3 a:hover {
  text-decoration: none;
}
code {
  font-size: 12px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
}
strong {
  color: #333;
}
.global {
  display: block;
  text-align: right;
  font-size: 14px;
}
body {
  font-family: arial, sans-serif;
}
label {
  letter-spacing: 1px;
  font-size: 11px;
}
header,
footer {
  font-size: 12px;
}
p {
  font-size: 14px;
}
form {
  padding: 5px 5px 5px 1px;
}
form label {
  display: block;
  margin-top: 4px;
}
form input[name="kcehmaps"] {
  display: none;
}
form input[type="submit"] {
  padding: 3px 8px;
}
form input[type="text"] {
  width: 99%;
  font-family: monaco, monospace;
  font-size: 16px;
  font-weight: bold;
  padding: 3px;
  border: 1px solid #e7e7e7;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-color: #adadad;
}
form input[type="checkbox"] {
  margin-top: 5px;
  vertical-align: -3px;
}
form textarea {
  width: 99%;
  font-family: monaco, monospace;
  font-size: 11px;
  padding: 3px;
  height: 350px;
  border: 1px solid #e7e7e7;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
}
form select {
  height: 26px;
  background-color: white;
  border-color: #bbb;
  line-height: 24px;
  margin-right: 6px;
}
form#login input[type="password"] {
  width: 200px;
  font-family: monaco, monospace;
  font-size: 16px;
  font-weight: bold;
  padding: 3px;
  border: 1px solid #e7e7e7;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
}
.options {
  display: block;
  padding-left: 1px;
}
.options h2 {
  width: 250px;
}
.options .selects {
  width: 350px;
}
.options .selects div {
  display: inline-block;
  padding: 0px 0px 6px 6px;
}
.options label.inline {
  display: inline !important;
}
.options .left {
  padding-right: 15px;
  display: inline;
  float: left;
}
.options .submit {
  padding-top: 4px;
  display: block;
  text-align: right;
  float: right;
}
.options .shift {
  font-size: 10px;
  font-style: italic;
}
a {
  color: #455EA9;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
ul.middot_list {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}
ul.middot_list li {
  display: inline;
}
ul.middot_list li:before {
  padding: 0px 4px 0px 0px;
  content: "\00b7";
}
ul.middot_list li.first:before {
  padding: 0px;
  content: "";
}
ul.pipe_list {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}
ul.pipe_list li {
  display: inline;
}
ul.pipe_list li:before {
  padding: 0px 4px 0px 0px;
  content: "|";
}
ul.pipe_list li.first:before {
  padding: 0px;
  content: "";
}
header,
.meta {
  font-size: 11px;
  color: #999;
}
header .urls,
.meta .urls {
  line-height: 12px;
}
header .urls a,
.meta .urls a {
  font-family: monospace;
  font-size: 11px;
}
header .time,
.meta .time {
  margin-top: 15px;
  font-style: italic;
  letter-spacing: 1px;
  font-size: 11px;
}
ul.paste_list {
  padding: 0;
  list-style-type: none;
}
ul.paste_list li.paste {
  margin-bottom: 20px;
  border-bottom: 1px solid #e7e7e7;
}
ul.paste_list h3 {
  margin: 0px;
}
ul.paste_list .syntaxhighlighter {
  margin: 2px 5px 5px 5px !important;
}
footer {
  border-top: 1px solid #e7e7e7;
  margin-top: 12px;
}
footer .time {
  font-style: italic;
  letter-spacing: 1px;
  font-size: 11px;
}
.notice {
  width: 97%;
  color: #B94A48;
  background-color: #F2DEDE;
  border: 1px solid #EED3D7;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  font-size: 12px;
  margin: 5px 0px 5px 3px;
  padding: 8px;
  display: inline-block;
  white-space: pre;
  font-family: monaco, monospace;
}
.bulk_action {
  display: block;
}
.status_filter {
  display: block;
  color: #666;
  padding: 0;
  margin: 0 0 8px 0;
}
.status_filter li {
  margin: 0;
  padding: 0;
  white-space: nowrap;
}
.status_filter li a {
  line-height: 2;
  padding: .2em;
}
.status_filter li.current a {
  color: black;
}
table.admin_list {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 5px;
}
table.admin_list td,
table.admin_list th {
  padding: 8px;
  text-align: left;
  vertical-align: top;
  line-height: 20px;
}
table.admin_list td {
  border-top: 1px solid #dddddd;
}
table.admin_list tfoot tr th {
  border-top: 1px solid #dddddd;
  background-color: #f9f9f9;
}
table.admin_list tr:nth-child(odd) > td {
  background-color: #f9f9f9;
}
table.admin_list tr:hover td {
  background-color: #f5f5f5;
}
table.admin_list tr.spam td.status {
  color: #b94a48;
}
table.admin_list tr.approved td.status {
  color: #468847;
}
table.admin_list .content {
  width: 100%;
}
table.admin_list .id,
table.admin_list .created,
table.admin_list .status,
table.admin_list .action {
  white-space: nowrap;
}
.pagination {
  display: block;
  text-align: center;
  margin: 20px 0;
}
.pagination ul {
  list-style-type: none;
  padding: 0;
  margin: 0 0 10px 25px;
  display: inline-block;
  margin-bottom: 0;
  margin-left: 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}
.pagination ul li:first-child span,
.pagination ul li:first-child a {
  border-left-width: 1px;
}
.pagination ul li:hover span,
.pagination ul li.current span,
.pagination ul li:hover a,
.pagination ul li.current a {
  background-color: #f5f5f5;
}
.pagination ul li {
  display: inline;
}
.pagination ul li span,
.pagination ul li a {
  float: left;
  padding: 4px 12px;
  line-height: 20px;
  text-decoration: none;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-left-width: 0;
}
