.border {
  border: 1px solid #e7e7e7;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
}
.hidden {
  display: none;
}
#encrypted-data {
  display: none;
}
body {
  margin: 30px;
}
h1 {
  border-bottom: 1px solid #e7e7e7;
  font-family: monaco, terminus, monospace;
  font-size: 21px;
  color: #444;
  margin-bottom: 2px;
}
h1.not_found,
h1.error {
  font-size: 43px;
}
h2 {
  border-bottom: 1px solid #e7e7e7;
  font-size: 12px;
  color: #444;
  margin: 3px;
  font-style: italic;
  font-weight: normal;
}
h1,
h2,
h3 {
  margin-top: 0px;
}
h1 a,
h2 a,
h3 a {
  color: #444;
}
h1 a:hover,
h2 a:hover,
h3 a:hover {
  text-decoration: none;
}
code {
  font-size: 12px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
}
strong {
  color: #333;
}
.global {
  display: block;
  text-align: right;
  font-size: 14px;
}
body {
  font-family: arial, sans-serif;
}
label {
  letter-spacing: 1px;
  font-size: 11px;
}
header,
footer {
  font-size: 12px;
}
p {
  font-size: 14px;
}
form {
  padding: 5px 5px 5px 1px;
}
form label {
  display: block;
  margin-top: 4px;
}
form input[name="kcehmaps"] {
  display: none;
}
form input[type="submit"] {
  padding: 3px 8px;
}
form input[type="text"] {
  width: 99%;
  font-family: monaco, monospace;
  font-size: 16px;
  font-weight: bold;
  padding: 3px;
  border: 1px solid #e7e7e7;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
}
form input[type="checkbox"] {
  margin-top: 5px;
  vertical-align: -3px;
}
form textarea {
  width: 99%;
  font-family: monaco;
  font-size: 11px;
  padding: 3px;
  height: 350px;
  border: 1px solid #e7e7e7;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
}
form#login input[type="password"] {
  width: 200px;
  font-family: monaco, monospace;
  font-size: 16px;
  font-weight: bold;
  padding: 3px;
  border: 1px solid #e7e7e7;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
}
.options {
  display: block;
  padding-left: 1px;
}
.options h2 {
  width: 250px;
}
.options .selects {
  width: 350px;
}
.options .selects div {
  display: inline-block;
  padding: 0px 0px 6px 6px;
}
.options label.inline {
  display: inline !important;
}
.options .left {
  padding-right: 15px;
  display: inline;
  float: left;
}
.options .submit {
  padding-top: 4px;
  display: block;
  text-align: right;
  float: right;
}
.options .shift {
  font-size: 10px;
  font-style: italic;
}
a {
  color: #455EA9;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
ul.middot_list {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}
ul.middot_list li {
  display: inline;
}
ul.middot_list li:before {
  padding: 0px 4px 0px 0px;
  content: "\00b7";
}
ul.middot_list li.first:before {
  padding: 0px;
  content: "";
}
header,
.meta {
  font-size: 11px;
  color: #999;
}
header .urls,
.meta .urls {
  line-height: 12px;
}
header .urls a,
.meta .urls a {
  font-family: monospace;
  font-size: 11px;
}
header .time,
.meta .time {
  margin-top: 15px;
  font-style: italic;
  letter-spacing: 1px;
  font-size: 11px;
}
ul.paste_list {
  padding: 0;
  list-style-type: none;
}
ul.paste_list li.paste {
  margin-bottom: 20px;
  border-bottom: 1px solid #e7e7e7;
}
ul.paste_list h3 {
  margin: 0px;
}
ul.paste_list .syntaxhighlighter {
  margin: 2px 5px 5px 5px !important;
}
.pager {
  font-size: 12px;
}
.pager .previous {
  padding-right: 10px;
}
footer {
  border-top: 1px solid #e7e7e7;
  margin-top: 12px;
}
footer .time {
  font-style: italic;
  letter-spacing: 1px;
  font-size: 11px;
}
.notice {
  width: 97%;
  color: #B94A48;
  background-color: #F2DEDE;
  border: 1px solid #EED3D7;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  font-size: 12px;
  margin: 5px 0px 5px 3px;
  padding: 8px;
  display: inline-block;
  white-space: pre;
  font-family: monaco, monospace;
}
table {
  width: 100%;
  font-family: arial, sans-serif;
  font-size: 12px;
  border-collapse: collapse;
}
table td,
table th {
  border: 1px solid #999;
  padding: 8px;
}
