extends layout

block content
  h1
    a(href='/') #{domain}

  p
    | This pastebin service is currently in development by and for the&nbsp;
    a(href='http://geekosphere.org/') geekosphere
    |  community, through anyone is welcome to use and contribute.

  p
    | We do our best to keep this site clean, if you do however find copyright infringing or otherwise illicit material, please contact us immediately at 
    a(href='mailto:abuse@zeitgeist.li') abuse@zeitgeist.li
    | .

  p
    | The web application&nbsp;
    a(href='https://github.com/4poc/anpaste') anpaste
    |  is free software and developed from scratch in 
    a(href='http://nodejs.org/') nodejs
    |  using&nbsp;
    a(href='http://expressjs.com/') express
    | ,&nbsp;
    a(href='http://lesscss.org/') less
    | ,&nbsp;
    a(href='http://jade-lang.com/') jade
    | ,&nbsp;
    a(href='http://underscorejs.org/') underscore
    | ,&nbsp;
    a(href='http://alexgorbatchev.com/SyntaxHighlighter/') syntaxhighlighter
    | ,&nbsp;
    a(href='http://jquery.com/') jquery
    | ,&nbsp;
    a(href='http://crypto.stanford.edu/sjcl/') sjcl
    |  and&nbsp;
    a(href='https://github.com/developmentseed/node-sqlite3') sqlite
    | .




