extends layout


block content
  h1.error application error :(

  p An application error occured, please notify an admin if you believe this should be fixed.

  pre
    code #{new Date().toISOString()} - #{error}

