include mixins/time

doctype 5
html
  head
    title pastebin
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/js/highlight/styles/zenburn.css')
    script(type='text/javascript', src='/js/jquery-1.7.2.min.js')
    script(type='text/javascript', src='/js/jquery.easydate-0.2.4.min.js')
    script(type='text/javascript', src='/js/highlight/highlight.pack.js')
    script(type='text/javascript', src='/js/sjcl.js')
    script(type='text/javascript', src='/js/func.js')
    script(type='text/javascript', src='/js/script.js')
    
  body

    noscript
      .notice
        | To view or create encrypted pastes, activate javascript.
    
    if typeof notice !== 'undefined' && notice
      .notice
        | #{notice}

    block content

