include mixins/time

doctype 5
html
  head
    title pastebin
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/js/highlight.js/styles/zenburn.css')
    script(type='text/javascript', src='/js/jquery-1.9.1.js')
    script(type='text/javascript', src='/js/jquery.easydate-0.2.4.js')
    script(type='text/javascript', src='/js/highlight.js/highlight.pack.js')
    script(type='text/javascript', src='/js/sjcl.js')
    script(type='text/javascript', src='/js/client.js')
    
  body

    noscript
      .notice
        | To view or create encrypted pastes, activate javascript.
    
    if typeof notice !== 'undefined' && notice
      .notice
        | #{notice}

    block content

