extends layout

block content
  if paste.encrypted
    #encrypted-data #{paste.content}

  pre
    if !paste.encrypted
      pre#content(class='brush: #{paste.language}') !{paste.content}
    else
      pre#content(class='brush: #{paste.language}')

  footer

    mixin time(paste)

    a(href='/') create new

